paddlepaddle==2.6.2
paddleocr==2.9.1
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
pillow>=10.0.0
pypdfium2>=4.30.0
numpy<2.0.0
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
rapidfuzz
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
cython
pyyaml
requests
albumentations==1.4.10
albucore==0.0.13
python-docx
openpyxl
beautifulsoup4
premailer
reportlab>=5.0.0
fire>=0.3.0
termcolor
